.hidden {
    display: none;
}

#lockScreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url(lock.png);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
}

#lockScreen.visible {
    opacity: 1;
}
