.hidden {
    display: none;
}

#lockScreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(120deg, #6e45e2, #88d3ce);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px cyan;
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
}

#lockScreen.visible {
    opacity: 1;
}

#lockScreen h1 {
    color: white;
    font-size: 36px;
    text-align: center;
    text-shadow: 2px 2px black;
}

#lockBtn {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    transition: all 0.5s ease;
}

#lockBtn:hover {
    transform: scale(1.1);
    box-shadow: 2px 2px orange;
}
